<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Aprendizado Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink='../inicio' href="inicio" class="nav-link" routerLinkActive="router-link-active">Início</a>
          </li>
          <li class="nav-item">
            <a routerLink="../dataBinding" href="databinding" routerLinkActive="router-link-active"  class="nav-link">Data Binding</a>
          </li>
          <li class="nav-item">
            <a routerLink="../diretivas" href="diretivas" routerLinkActive="router-link-active"  class="nav-link">Diretivas</a>
          </li>
          
          <li class="nav-item">
            <a routerLink="../filmes" href="filmes" routerLinkActive="router-link-active"  class="nav-link">FaetecFlix</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>